@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

.form-header {
    font-family: 'Rubik', sans-serif;
}

.student-request-form {
   /* height: 90vh; */
   /* overflow: auto; */
}

@media only screen and (min-width: 600px) {
    .student-request-form {
        width: 700px;
        padding: 60px;
        background-color: white;
        box-sizing: border-box;
        border-radius: 6px;
        box-shadow: 0 4px 10px rgb(221, 213, 213);
        padding: 50px;
    }
  }
